body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------HEADER------------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  text-align: center;
  display: block;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link.current {
  position: relative;
  color: #404bbf;
}

.header-menu-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  position: absolute;
  background-color: #404bbf;
}

.header-menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-navigation {
  display: flex;
}

.header-menu-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-contacts:hover {
  color: #404bbf;
}
.header-menu-contacts:focus {
  color: #404bbf;
}

/* ----------HERO------------ */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 48px auto;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.hero-button {
  display: flex;
  justify-content: center;
}

/* ----------FEATURES------------ */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.icons-pictures {
  border-radius: 4px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 112px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.icons-pictures {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}

.features-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------Our Team------------ */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
  gap: 24px;
}

.team-title {
  text-transform: capitalize;
  margin-bottom: 72px;
  font-size: 36px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-lists {
  display: flex;
  gap: 24px;
}

.team-names {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin: 8px;
}

.team-roles {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.social {
  width: 40px;
  height: 40px;
}

.team-svg {
  fill: #f4f4fd;
}

.social-list:hover {
  background-color: #404bbf;
}

.social-list:focus {
  background-color: #404bbf;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list.features-item {
  max-width: 264px;
}

.info-block {
  text-align: center;
  padding: 32px 0;
}

/* ----------PORTFOLIO------------ */

.team-section-portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  text-transform: capitalize;
  margin-bottom: 72px 0 0 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin-bottom: 8px;
}

.team-role {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* width: calc((100% - 72px) / 6); */
  gap: 48px 24px;
}

.info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.overlay-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  margin: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-items-portfolio {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-items-portfolio:hover .overlay-text {
  transform: translateY(0%);
}

.team-items-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* ----------FOOTER------------ */
.footer {
  display: flex;
  background-color: #2e2f42;
  padding: 100px 0;
}

.containers {
  display: flex;
  align-items: baseline;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-studio {
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-socials {
  width: 40px;
  height: 40px;
}

.footer-excerpt {
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social {
  align-items: baseline;
}

.footer-paragraf {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #31d0aa;
}
.footer-link:focus {
  background-color: #31d0aa;
}

.logo-studio-link {
  margin-right: 120px;
}
